/*Стили для увеличения картинок при наведении*/
.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.scale img {
    transition: 0.3s all ease-in; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */

}
.scale img:hover {
    transform: scale(1.03); /* Увеличиваем масштаб */
    border-radius: 30px;
}

/*Стили для картинок в карточках*/
.img_card {
    border-radius: 15px;
    width: 335px;
    height: 200px;

}

/*Стили для заголовка карточки*/
.h_card {
    color: #005aaa;
    font-size: 22px;
    margin-bottom: 0px;

}

/*Стили для даты / время / места карточки */
.p_card {
    font-size: 14px;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.monthView{
    font-size: 1.9rem;
    padding: 20px 50px 5px;
}
.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .icons{
    display: flex;
    margin-right: 20px;
}
header .icons span{
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;

    border-radius: 30%;
}
.icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .current-date{
    font-size: 1.45rem;
}
.calendar{
    padding: 5px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 5px;
}
.calendar li{
    color: #333;
    width: calc(100% / 10);
    font-size: 1.0rem;
}
.calendar .weeks li{
    color: #878787;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 30%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: #e70f47;
}
.days li:hover{
    color: white;
}
.days li:not(.active):hover::before{
    background: #005aaa;
    color: white;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.chip:hover{
    background: #f0f0f0;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}