<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/calendar.css}" />
</head>
<body>
<div class="wrapper">
  <header>
    <p class="current-date"></p>
    <div class="icons">
      <span id="prev" class="material-symbols-rounded">l</span>
      <span id="next" class="material-symbols-rounded">r</span>
    </div>
  </header>
  <div class="calendar">
    <ul class="weeks">
    </ul>
    <ul class="days"></ul>
  </div>
</div>
<script th:src="@{/index.js}"></script>
</body>
</html>